In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# New imports for using Neo4j
import networkx as nx
from py2neo import Graph
from helpers.vis import draw
%set_env NEO4J_URL http://neo4j:neo4j2@localhost:7474
%load_ext cypher

env: NEO4J_URL=http://neo4j:neo4j2@localhost:7474

In [2]:
graph = Graph('http://neo4j:neo4j2@localhost:7474')

In [3]:
# function to search columns of a pandas dataframe
def search(df, col, words):
    cond = [df[col].str.contains('(?<![\w\d])'+w+'(?![\w\d])', case=False, na=False) for w in words]
    return df[np.logical_and.reduce(cond)]

# split a string in words with no ponctuation
import re
def split(str):
    return re.split('\W+', str)

In [4]:
# load datasets
from helpers.swiss_codes import filter_swiss
# 1. officers
officers = pd.read_csv('../data/panama/Officers.csv', header=0, low_memory=False)
swiss_officers = filter_swiss(officers, process_address=False)
del officers
# 2. entities
entities = pd.read_csv('../data/panama/Entities.csv', header=0, low_memory=False)
swiss_entities = filter_swiss(entities)
del entities
# 3. intermediaries
inter = pd.read_csv('../data/panama/Intermediaries.csv', header=0, low_memory=False)
swiss_inter = filter_swiss(inter)
del inter

## All interests

In [5]:
all_interests = pd.read_json('data/all_interests.json')

Looking for names in Officers:

In [6]:
rs = []
for _,f,l in all_interests[['first_name','last_name']].drop_duplicates().itertuples():
    ws = f + ' ' + l
    r = search(swiss_officers, 'name', split(ws))
    if r.size > 0 or l == 'Zacharias':
        rs.append(ws)

In [7]:
rs

['Mauro Poggia', 'Ronald Zacharias']

And the companies from Entities and Intermedietaries:

In [8]:
try:
    inters = pd.read_csv('data/all_interests_entities_name.csv', index_col=0)
except:
    ents = []
    for interest in all_interests['interest_name'].drop_duplicates():
        ws = split(interest)
        r = search(swiss_entities, 'name', ws)
        if r.size > 0:
            for idx,name in r['name'].iteritems():
                ents.append([interest.strip(),idx,name])
    inters = pd.DataFrame(ents, columns=['interest_name','idx','entity_name'])
    inters.to_csv('data/all_interests_entities_name.csv')

In [9]:
inters

   interest_name     idx                       entity_name
0            SVK  119433  SVK INVEST INTERNATIONAL LIMITED
1            SVK  150129                    SVK FOUNDATION
2          Aresa  173209                ARESA FINANCE LTD.
3           ASCA   53521              ASCA MANAGEMENT LTD.
4          ARGOS   31154   ARGOS BUILDING CORPORATION LTD.
5          ARGOS   38862                        ARGOS S.A.
6          ARGOS  148117                 ARGOS-REALCO S.A.
7          ARGOS  152462                 ARGOS (GULF) S.A.
8          ARGOS  164409                ARGOS TRADING LTD.
9          ARGOS  268869           Argos Inter Invest Ltd.
10           CIA    2137          J. MARQUES AND CIA. S.A.
11         CADES   51038                CADES FINANCE LTD.
12         ARGOS    3649             ARGOS HOLDING LIMITED
13         ARGOS   31154   ARGOS BUILDING CORPORATION LTD.
14         ARGOS   38862                        ARGOS S.A.
15         ARGOS  148117                 ARGOS-REALCO S.A.
16         ARGOS  152462                 ARGOS (GULF) S.A.
17         ARGOS  164409                ARGOS TRADING LTD.
18         ARGOS  190341                  ARGOS FOUNDATION
19         ARGOS  268869           Argos Inter Invest Ltd.
20        Nature   28487                NATURE ASSETS S.A.
21        energo   10568               ENERGO COMPANY S.A.
22        energo   13992      CAN-ENERGO (HOLDING) LIMITED
23        energo   84835               ENERGO TEHNIKA LTD.
24        energo  176484                 SIGMA ENERGO LTD.

These matches have to be checked more in details as they seem to mean something else...

## Parlement data

In [10]:
parlement = pd.read_json('data/parliament_members_interests.json')

In [11]:
ps = []
for _,f,l in parlement[['FirstName','LastName']].drop_duplicates().itertuples():
    ws = f + ' ' + l
    r = search(swiss_officers, 'name', split(ws))
    if r.size > 0:
        ps.append(ws)

In [12]:
ps

['Peter Schmid',
 'Heinrich Baumann',
 'Johann Jakob',
 'Peter MÃ¼ller',
 'Rudolf Ott',
 'Mauro Poggia']

Only some matches and there're a lot of possibilities with these names...

### Querying the Neo4j with Poggia

In [13]:
%%cypher 
MATCH (o:Officer) WHERE toLower(o.name) CONTAINS "poggia"
RETURN o.name as name, o.countries as countries LIMIT 20

1 rows affected.

[['Mauro Poggia', 'Switzerland']]

In [14]:
# Plotting Poggia's graph
results = %cypher \
    MATCH (o:Officer) WHERE toLower(o.name) CONTAINS "poggia" \
    match p=(o)-[r*1..100]-() \
    RETURN p limit 100

15 rows affected.

In [15]:
G = results.get_graph()
draw(G)

In [16]:
# Plotting energo graph
results2 = %cypher \
    MATCH (o1:Entity) WHERE toLower(o1.name) CONTAINS "energo" \
    match p=(o1)-[r*1..100]-() \
    RETURN p limit 100

100 rows affected.

In [17]:
G2 = results2.get_graph()
draw(G2)

We can see results in Morges and Porrentruy (+ Russia, Spain, Panama) all centralized around GENINT SA  
http://ge.ch/hrcintapp/externalCompanyReport.action?companyOfrcId13=CH-660-0806985-5&ofrcLanguage=2

In [18]:
# Plotting a graph concerning the IMD school in Lausanne ;)
results3 = %cypher \
    MATCH (o1:Address) WHERE toLower(o1.address) CONTAINS "schmidheiny" \
    match p=(o1)<-[r*1..100]-() \
    RETURN p limit 20

8 rows affected.

In [19]:
G3 = results3.get_graph()
draw(G3)